<div class="container">
    <hr>
    <footer class="footer pull-right">
        <div>Powered by</div>
        <a class="navbar-brand" href="http://www.firstnational.com" >
            <img src="http://completelykids.org/wp-content/uploads/2013/10/fnbSponsorship.jpg"
                 alt="First National Bank"
                 style="height:90px;"></a>
    </footer>
</div>