body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
.main {
  padding: 20px;
}
.notifications{
  float: right;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 200px;
  }
}
.main .page-header {
  margin-top: 0;

}

.numberCircle {
    display:inline-block;
    line-height:0px;
    
    border-radius:50%;
    border:2px solid;
    background-color: #009ca6;
    font-size:62px;
}

.numberCircle span {
    display:inline-block;
    
    padding-top:50%;
    padding-bottom:50%;

    
    margin-left:8px;
    margin-right:8px;
}

.numberCircle1 {
    padding-top: 8px;
    
    background-color: #009ca6;
    font-size:52px;
}

.image-block {
    border: 3px solid white ;
    background-color: black;
    padding: 0px;    
    margin: 0px;
    height:200px;
    text-align: center;
    vertical-align: bottom;
}
.image-block > p {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 150px;
    background-color: rgba(3,3,3,0.0);
    color: rgba(6,6,6,0.0);
}
.image-block:hover > p {
    background-color: rgba(3,3,3,0.5);    
    color: white;    
}


    .sui-button-cell
    {
        text-align: center;
    }

    .sui-checkbox
    {
        font-size: 17px !important;
        padding-bottom: 4px !important;
    }

    .deleteButton img
    {
        margin-right: 3px;
        vertical-align: bottom;
    }

    .bigicon
    {
        color: #5CB85C;
        font-size: 20px;
    }