<script src="/stylesheets/assets/js/chart-master/Chart.js"></script>
        <div class="col-sm-9 col-md-8 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <div class="row">
                    <div class="col-md-4 mb">
                        <div class="darkblue-panel pn">
                            <div class="darkblue-header">
                                <h5>WEEKLY BUDGET</h5>
                            </div>
                            <canvas id="serverstatus02" height="120" width="120"></canvas>
                            <script>
                                var doughnutData = [
                                    {
                                        value: 60,
                                        color:"#68dff0"
                                    },
                                    {
                                        value : 40,
                                        color : "#444c57"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
                            </script>
                            <p>November 06, 2016</p>
                            <footer>
                                <div class="pull-left">
                                    <h5><i class="fa fa-hdd-o"></i> $150.00</h5>
                                </div>
                                <div class="pull-right">
                                    <h5>60% Used</h5>
                                </div>
                            </footer>
                        </div><! -- /darkblue panel -->
                    </div><!-- /col-md-4 -->

                    <div class="col-md-4 col-sm-4 mb">
                        <!-- REVENUE PANEL -->
                        <div class="darkblue-panel pn">
                            <div class="darkblue-header">
                                <h5>ACCOUNTS</h5>
                            </div>
                            <canvas id="serverstatus03" height="120" width="120"></canvas>
                            <script>
                                var pieData = [
                                    {
                                        value: 40,
                                        color:"#b3c6ff"
                                    },
                                    {
                                        value : 35,
                                        color : "#ffb3e6"
                                    },
                                    {
                                        value : 15,
                                        color : "#c6ffb3"
                                    }
                                ];
                                var myPie = new Chart(document.getElementById("serverstatus03").getContext("2d")).Pie(pieData);
                            </script>
                            <p>November 06, 2016</p>
                            <footer style="padding-top: 0px">
                                <div class="pull-left">
                                    <h8 style="color:#b3c6ff"> Credit Cards</h8><br/>
                                    <h8 style="color:#ffb3e6"> Checking Accounts</h8>
                                    </div>
                                <div class="pull-right">
                                    <h8 style="color:#c6ffb3"> Savings Accounts</h8>
                                </div>
                            </footer>
                        </div>
                    </div><!-- /col-md-4 -->

                </div><!-- /row -->

            </div>



            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    <tr>
                        <td>1,002</td>
                        <td>amet</td>
                        <td>consectetur</td>
                        <td>adipiscing</td>
                        <td>elit</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>Integer</td>
                        <td>nec</td>
                        <td>odio</td>
                        <td>Praesent</td>
                    </tr>
                    <tr>
                        <td>1,003</td>
                        <td>libero</td>
                        <td>Sed</td>
                        <td>cursus</td>
                        <td>ante</td>
                    </tr>
                    <tr>
                        <td>1,004</td>
                        <td>dapibus</td>
                        <td>diam</td>
                        <td>Sed</td>
                        <td>nisi</td>
                    </tr>
                    <tr>
                        <td>1,005</td>
                        <td>Nulla</td>
                        <td>quis</td>
                        <td>sem</td>
                        <td>at</td>
                    </tr>
                    <tr>
                        <td>1,006</td>
                        <td>nibh</td>
                        <td>elementum</td>
                        <td>imperdiet</td>
                        <td>Duis</td>
                    </tr>
                    <tr>
                        <td>1,007</td>
                        <td>sagittis</td>
                        <td>ipsum</td>
                        <td>Praesent</td>
                        <td>mauris</td>
                    </tr>
                    <tr>
                        <td>1,008</td>
                        <td>Fusce</td>
                        <td>nec</td>
                        <td>tellus</td>
                        <td>sed</td>
                    </tr>
                    <tr>
                        <td>1,009</td>
                        <td>augue</td>
                        <td>semper</td>
                        <td>porta</td>
                        <td>Mauris</td>
                    </tr>
                    <tr>
                        <td>1,010</td>
                        <td>massa</td>
                        <td>Vestibulum</td>
                        <td>lacinia</td>
                        <td>arcu</td>
                    </tr>
                    <tr>
                        <td>1,011</td>
                        <td>eget</td>
                        <td>nulla</td>
                        <td>Class</td>
                        <td>aptent</td>
                    </tr>
                    <tr>
                        <td>1,012</td>
                        <td>taciti</td>
                        <td>sociosqu</td>
                        <td>ad</td>
                        <td>litora</td>
                    </tr>
                    <tr>
                        <td>1,013</td>
                        <td>torquent</td>
                        <td>per</td>
                        <td>conubia</td>
                        <td>nostra</td>
                    </tr>
                    <tr>
                        <td>1,014</td>
                        <td>per</td>
                        <td>inceptos</td>
                        <td>himenaeos</td>
                        <td>Curabitur</td>
                    </tr>
                    <tr>
                        <td>1,015</td>
                        <td>sodales</td>
                        <td>ligula</td>
                        <td>in</td>
                        <td>libero</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>