<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="view-source:https://www.firstnational.com/favicon.ico">
    <title><%= typeof title == 'undefined' ? 'MyFinance360' : title %></title>
    <!--STYLES-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/assets/css/style.css" rel="stylesheet">
    <link href="/stylesheets/assets/css/style-responsive.css" rel="stylesheet">
    <!--STYLES END-->
    <!--STYLES END-->

</head>

<body>
<% include ./nav %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ><a href="/index">Overview </a></li>
                <li ><a href="/users/rewards">Rewards</a></li>
                <li ><a href="/users/accounts">Accounts</a></li>
                <li ><a href="/users/loans">Loans</a></li>
                <li ><a href="/users/offers">Offers</a></li>
                <li class="active"><a href="/users/goals">Goals<span class="sr-only">(current)</span></a></li>
                <li><a href="/users/about">About</a></li>
                <li><a href="/users/faq">FAQ</a></li>
                <li><a href="/users/contact">Contact</a></li>
            </ul>
        </div>
        <div>
            <img src="https://s-media-cache-ak0.pinimg.com/736x/17/1f/70/171f702e8357f31e59edf41433f9720b.jpg" style="padding-left: 350px ; padding-top: 150px  ">
        </div>

</body>
</html>