<div class="col-md-2 ds notifications">
    <!--COMPLETED ACTIONS DONUTS CHART-->
    <h3>NOTIFICATIONS</h3>

    <!-- First Action -->
    <div class="desc">
        <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
        </div>
        <div class="details">
            <p><muted>2 Minutes Ago</muted><br/>
                <a href="#">First National Checking</a> terms and conditions updated.<br/>
            </p>
        </div>
    </div>
    <!-- Second Action -->
    <div class="desc">
        <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
        </div>
        <div class="details">
            <p><muted>3 Hours Ago</muted><br/>
                <a href="#">Wells Fargo Rewards</a> deposit has been transferred to your checking account.<br/>
            </p>
        </div>
    </div>
    <!-- Third Action -->
    <div class="desc">
        <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
        </div>
        <div class="details">
            <p><muted>7 Hours Ago</muted><br/>
                <a href="#">First National Bank</a> credit card found suspicious activity in your account.<br/>
            </p>
        </div>
    </div>
    <h3>DUE DATES</h3>
    <!-- First Member -->
    <div class="desc">
        <div class="thumb">
            <img class="img-circle" src="/stylesheets/assets/img/oppd.png" width="35px" height="35px" align="">
        </div>
        <div class="details">
            <p><a href="#">OPPD</a><br/>
                <muted>Payment due: $115.06</muted><br>
                <muted>Due Date: 11/10/2016</muted>
            </p>
        </div>
    </div>
    <!-- Second Member -->
    <div class="desc">
        <div class="thumb">
            <img class="img-circle" src="/stylesheets/assets/img/cox.jpeg" width="35px" height="35px" align="">
        </div>
        <div class="details">
            <p><a href="#">COX</a><br/>
                <muted>Payment due: $71.05</muted><br>
                <muted>Due Date: 11/16/2016</muted>
            </p>
        </div>
    </div>
    <!-- Third Member -->
    <div class="desc">
        <div class="thumb">
            <img class="img-circle" src="/stylesheets/assets/img/state farm.jpeg" width="35px" height="35px" align="">
        </div>
        <div class="details">
            <p><a href="#">STATE FARM</a><br/>
                <muted>Payment due: $53.25</muted><br>
                <muted>Due Date: 11/18/2016</muted>
            </p>
        </div>
    </div>
    <!-- Fourth Member -->
    <div class="desc">
        <div class="thumb">
            <img class="img-circle" src="/stylesheets/assets/img/uno.png" width="35px" height="35px" align="">
        </div>
        <div class="details">
            <p><a href="#">UNO</a><br/>
                <muted>Payment due: $3223.58</muted><br>
                <muted>Due Date: 11/28/2016</muted><muted>Available</muted>
            </p>
        </div>
    </div>
    <!-- Fifth Member -->
    <div class="desc">
        <div class="thumb">
            <img class="img-circle" src="/stylesheets/assets/img/verizon.jpeg" width="35px" height="35px" align="">
        </div>
        <div class="details">
            <p><a href="#">VERIZON</a><br/>
                <muted>Payment due: $187.56</muted><br>
                <muted>Due Date: 11/30/2016</muted>
            </p>
        </div>
    </div>
    <!-- Sixth Member -->
    <div class="desc">
        <div class="thumb">
            <img class="img-circle" src="/stylesheets/assets/img/icon.jpeg" width="35px" height="35px" align="">
        </div>
        <div class="details">
            <p><a href="#">FIRST NATIONAL BANK</a><br/>
                <muted>Payment due: $45.00</muted><br>
                <muted>Due Date: 11/30/2016</muted>
            </p>
        </div>
    </div>
</div>