<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="view-source:https://www.firstnational.com/favicon.ico">
    <title><%= typeof title == 'undefined' ? 'MyFinance360' : title %></title>
    <!--STYLES-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/assets/css/style.css" rel="stylesheet">
    <link href="/stylesheets/assets/css/style-responsive.css" rel="stylesheet">
    <!--STYLES END-->
    <!--STYLES END-->

</head>

<body>
<% include ./nav %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ><a href="/index">Overview </a></li>
                <li ><a href="/users/rewards">Rewards</a></li>
                <li ><a href="/users/accounts">Accounts</a></li>
                <li ><a href="/users/loans">Loans</a></li>
                <li class="active"><a href="/users/offers">Offers<span class="sr-only">(current)</span></a></li>
                <li><a href="/users/goals">Goals</a></li>
                <li><a href="/users/about">About</a></li>
                <li><a href="/users/faq">FAQ</a></li>
                <li><a href="/users/contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Offers</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder" style="padding-left:450px">

                </div>

            </div>
            <h2 class="sub-header">Featured Offers</h2>
            <div class="row">
                <div class="image-block1 col-sm-6"
                     style="background: url(https://www.firstnational.com/assets/site/img/personal/promo-byb.jpg)
             no-repeat center top;background-size:cover;">
                    <p> 0.75% APY </p>
                </div>
                <div class="image-block1 col-sm-6"
                     style="background: url(https://www.firstnational.com/assets/site/img/personal/promo-husker-bowlgame.jpg)
              no-repeat center top;background-size:cover;">
                    <p> Husker Bowl Game </p>
                </div>

            </div>

        </div>
    </div>
</body>
</html>