<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="view-source:https://www.firstnational.com/favicon.ico">
    <title><%= typeof title == 'undefined' ? 'MyFinance360' : title %></title>
    <!--STYLES-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

    <!--STYLES END-->

</head>

<body>
<% include ./nav %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ><a href="/index">Overview </a></li>
                <li class="active"><a href="/users/rewards">Rewards<span class="sr-only">(current)</span></a></li>
                <li><a href="/users/accounts">Accounts</a></li>
                <li><a href="/users/loans">Loans</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/users/offers">Offers</a></li>
                <li><a href="/users/goals">Goals</a></li>
                <li><a href="/users/about">About</a></li>
                <li><a href="/users/faq">FAQ</a></li>
                <li><a href="/users/contact">Contact</a></li>
            </ul>
        </div>
        


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Rewards</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder" style="padding-left:450px">
                    <span class="numberCircle" ><span>5435</span></span>
                    <h4 class="numberCircle1">Points</h4>
                </div>
            </div>

            <h2 class="sub-header">Redeem</h2>
            

    
    <div class="row">
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city1.jpg) no-repeat center top;background-size:cover;">
            <p> $5 </p>
        </div>
        <div class="image-block col-sm-8" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city2.jpg) no-repeat center top;background-size:cover;">
            <p> $5 </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city3.jpg) no-repeat center top;background-size:cover;">
            <p> $5 </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg) no-repeat center top;background-size:cover;">
            <p> 10$ </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city5.jpg) no-repeat center top;background-size:cover;">
            <p> 10$ </p>
        </div>
        <div class="image-block col-sm-8" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city6.jpg) no-repeat center top;background-size:cover;">
            <p> 10$ </p>
        </div>
        <div class="image-block col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city7.jpg) no-repeat center top;background-size:cover;">
            <p> 10$ </p>            
        </div>
    </div>


        </div>

    </div>
</div>





        <!--SCRIPTS-->
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <!--SCRIPTS END-->

</body>
</html>